{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>
    <meta name="description" content=""/>
    <meta property="og:title" content="Constructzilla - Construction Template"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"/>

    <!-- PAGE TITLE HERE -->
    <title>Koopdepot</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/skin/skin-1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templete.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-rtl.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/fonts/dana.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/fonts/vazir.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/fonts/iransans.css' %}">

    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/navigation.css' %}">
    <!-- REVOLUTION SLIDER CSS END -->

</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
    <!-- header -->
    <header class="site-header header mo-left header-style-1">
        <!-- top bar -->
        <div class="top-bar no-skew bg-white">
            <div class="container-fluid p-r60 p-l60">
                <div class="row d-flex justify-content-between">
                    <div class="dez-topbar-left">
                        <ul class="social-bx list-inline  pull-left">
                            <li style="margin-top: 0px;margin-right: 40px"><a href="javascript:void(0);"> فارسی</a></li>
                            <li style="margin-top: -4px"><a href="profile.html" style="margin-right: 10px"
                                                            class="fa fa-2x fa-user-circle-o"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- top bar END-->
        <!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container-fluid p-l60 p-r60 clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion dark">
                        <a href="Home.html">
                            <img src="{% static "images/logo4.png" %}" width="193" height="89" alt="">
                        </a>
                    </div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                            data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell ">
                            <button id="quik-search-btn" type="button" class="site-button bg-white"
                                    style="color: #1A74B5;font-size: large;padding-top: 5px"><i
                                    class="fa fa-search font-weight-300"></i><a class="font-weight-300"> جستجو </a>
                            </button>
                        </div>
                    </div>
{% block search %}
                    {% endblock %}
                                                            <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-right" id="navbarNavDropdown">
                        <ul class=" nav navbar-nav" style="padding-right: 25px;">

                            <li style="padding-right: 17px" class="active">
                                <div>
                                    <a href="{% url "config:Home" %}">خانه</a>
                                </div>
                            </li>
                            <li style="padding-right: 17px">
                                <div>
                                    <a href="full-inventory.html">کل
                                        موجودی</a>
                                </div>
                            </li>
                            <li style="padding-right: 17px">
                                <div>
                                    <a href="">صادراتی</a>
                                </div>
                            </li>
                            <li style="padding-right: 17px">
                                <div>
                                    <a href="special-offer.html">پیشنهاد
                                        ویژه</a>
                                </div>
                            </li>
                            <li style="padding-right: 17px">
                                <div>
                                    <a href="mines.html">معادن</a>
                                </div>
                            </li>
                            <li style="padding-right: 17px">
                                <div>
                                    <a href="block-details.html">بلاگ</a>
                                </div>
                            </li>
                            <li style="padding-right: 17px">
                                <div>
                                    <a href="wish-list.html">انتخاب های
                                        من</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
{% block content %}
{% endblock %}
   <footer class="site-footer">
        <!-- footer top part -->
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
                        <div class="widget recent-posts-entry">
                            <h4 class="m-b15 text-uppercase">پست های اخیر</h4>
                            <div class="dez-separator-outer m-b10">
                                <div class="dez-separator bg-white style-skew"></div>
                            </div>
                            <div class="widget-post-bx">
                                <div class="widget-post clearfix">
                                    <div class="dez-post-media"><img src="{% static "images/stone6.jpg" %}" alt=""
                                                                     width="200" height="143"></div>
                                    <div class="dez-post-info">
                                        <div class="dez-post-header">
                                            <h6 class="post-title text-uppercase"><a href="blog-single.html">بلاک کیفیت
                                                A</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-post clearfix">
                                    <div class="dez-post-media"><img src="{% static 'images/stone4.jpg' %}" alt=""
                                                                     width="200" height="160"></div>
                                    <div class="dez-post-info">
                                        <div class="dez-post-header">
                                            <h6 class="post-title text-uppercase"><a href="blog-single.html">بلاک کیفیت
                                                B</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
                        <div class="widget widget_services">
                            <h4 class="m-b15 text-uppercase">معادن</h4>
                            <div class="dez-separator-outer m-b10">
                                <div class="dez-separator bg-white style-skew"></div>
                            </div>
                            <ul>
                                <li><a href="services-2.html">سلماس</a></li>
                                <li><a href="services-2.html">سیستان</a></li>
                                <li><a href="services-2.html">خراسان</a></li>
                                <li><a href="services-2.html">تهران</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
                        <div class="widget widget_services">
                            <h4 class="m-b15 text-uppercase">بلاک ها</h4>
                            <div class="dez-separator-outer m-b10">
                                <div class="dez-separator bg-white style-skew"></div>
                            </div>
                            <ul>
                                <li><a href="services-2.html">صادراتی</a></li>
                                <li><a href="services-2.html">پیشنهاد ویژه</a></li>
                                <li><a href="services-2.html">لاین شده</a></li>
                                <li><a href="services-2.html">داخلی</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
                        <div class="widget widget_about m-r50">
                            <div class="logo-footer"><img src="images/logo5.png" alt=""></div>
                            <div class="text-center">
                                <ul class="dez-social-icon dez-border">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 text-left">
                        <span>© کپی رایت 2021</span>
                    </div>
                    <div class="col-lg-4 col-md-4 text-center">
                        <a href="about-1.html">ROTRO GROUP</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
    <!-- scroll top button -->
    <button class="scroltop fa fa-arrow-up style4"></button>
</div>
<!-- JavaScript  files ========================================= -->
<script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'js/custom.min.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/dz.carousel.min.js' %}"></script><!-- SORTCODE FUCTIONS  -->
<script src="{% static 'js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->

<script src="{% static 'plugins/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script src="{% static 'js/rev.slider.js' %}"></script>
<script>
    jQuery(document).ready(function () {
        'use strict';
        dz_rev_slider_6();
    });	/*ready*/
</script>
</body>
</html>
